@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource-variable/inter";

:root {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-secondary: #e4e4eb;
  --color-background: #ffffff;
  --color-background-o: #ffffffbf;
  --color-surface: #f8fafc;
  --color-surface-hover: #e7eaef;
  --color-text-primary: #1e293b;
  --color-text-secondary: #64748b;
  --color-text-muted: #94a3b8;
  --color-border: #c2c8d0;
  --color-border-hover: #bbc5d1;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);

  --transition-fast: 150ms ease-in-out;
  --transition-normal: 250ms ease-in-out;
  --transition-slow: 350ms ease-in-out;
}

[data-theme="dark"] {
  --color-primary: #ff477f;
  --color-primary-hover: #dd356d;
  --color-secondary: #27272b;
  --color-background: #17171a;
  --color-background-o: #17171abf;
  --color-surface: #1a1a1f;
  --color-surface-hover: #53535790;
  --color-text-primary: #f1f5f9;
  --color-text-secondary: #d5d5db;
  --color-text-muted: #a3a3ab;
  --color-border: #414145;
  --color-border-hover: #555559;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.3);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.4), 0 2px 4px -2px rgb(0 0 0 / 0.4);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.4),
    0 4px 6px -4px rgb(0 0 0 / 0.4);
}

/* 
  [data-theme="dark"] {
    --color-primary: #60a5fa;
    --color-primary-hover: #3b82f6;
    --color-secondary: #94a3b8;
    --color-background: #0f172a;
    --color-surface: #1e293b;
    --color-surface-hover: #334155;
    --color-text-primary: #f1f5f9;
    --color-text-secondary: #cbd5e1;
    --color-text-muted: #94a3b8;
    --color-border: #334155;
    --color-border-hover: #475569;
    
    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.3);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.4), 0 2px 4px -2px rgb(0 0 0 / 0.4);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.4),
      0 4px 6px -4px rgb(0 0 0 / 0.4);
  } */

html {
  font-family: "Inter Variable", "Courier New", Courier, monospace, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-surface);
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-border-hover);
}
